#page-root {
    display: flex;
    justify-content: center;
    height: calc(100vh - 90px);
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 92%;
    height: 100%;
}

#col-left {
    padding: 10px 16px 10px 16px;
    border: 1px solid yellow;
}

#timeline {
    display: flex;
    flex-direction: column;
    padding: 10px 32px 10px 32px;
    /* border: 1px solid orange; */
}

#col-right {
    /* border: 1px solid pink; */
    padding: 10px 16px 10px 16px;
    /* border-radius: 18px; */
}

#timeline-feed {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 12px;
}