#login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
    width: 40vw;
    height: 65%;
    padding: 36px 0px 36px 0px;
    max-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    background-color: #282c37;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    overflow: hidden;

}

#form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}


#user-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textbox {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    height: 28px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.textbox:focus {
    outline: none !important;
    border: 1px solid #DE3163;
    box-shadow: 0 0 6px #DE3163;
}

#buttons-container {
    display: flex;
    width: 100%;
}

#button-login {
    width: 100%;
    height: 42px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

#sign-up {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.2s;
}

#sign-up:hover {
    text-decoration: underline;
}

#server-feedback-container {
    display: flex;
    padding: 3px 16px 3px 16px;
    align-items: center;
    align-content: center;
}

#server-feedback-text {
    font-size: 0.8em;
    padding: 8px 8px 8px 8px;
    color: rgb(243, 48, 48);
    text-align: center;
}