.logo {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.icon-user {
    height: 54px;
    width: 54px;
    cursor: pointer;
}

#navbar-container {
    display: flex;
    justify-content: center;
}

#navbar-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DE3163;
    /* background-color: #8a4baf; */
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
    height: 72px;
    width: 100%;
    margin: 0px 0px 8px 0px;
    padding: 0px 42px 0px 42px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition-duration: 0.2s;
}
#navbar-parent:hover {
    background-color: #ed215b; 
}

#user-contents {
    display: flex;
    align-items: center;
    gap: 12px;
}

#create-post {
    text-align: center;
    height: 40px;
    width: 112px;
    border: none;
    border-radius: 28px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: linear-gradient(90deg, #00d0ff80 0%, #3a47d5 100%);
    cursor: pointer;
}