#userprofile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
    border-radius: 18px;
    background-color: black;
    height: 400px;
    padding: 16px 20px 16px 20px;
}

#user-profile {
    /* border-bottom: 1px solid grey; */
}

.username {
    font-size: 1.3em;
}

.user-bio {
    font-size: 0.9em;
    padding-bottom: 4px;
    max-width: 100%;
}

#user-bio-text {
    color: white;
    resize: none;
    background-color: inherit;
    border: none;
    width: 100%;
}

