#userprofile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 6px;
    background-color: #191b22;
    height: 400px;
    padding: 16px 20px 16px 20px;
}

#user-profile {
    /* border-bottom: 1px solid grey; */
}

.username {
    font-size: 1.3em;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
}

.user-bio {
    font-size: 0.9em;
    padding-bottom: 4px;
    max-width: 100%;
}

#user-bio-text {
    color: white;
    resize: none;
    background-color: inherit;
    border: none;
    width: 100%;
}
