#userprofile-container {
    /* border: 1px solid red; */
    border-radius: 18px;
    background-color: black;
    height: 400px;
    padding: 16px 20px 16px 20px;
}

#user-profile {
    border-bottom: 1px solid grey;
}

.username {
    font-size: 1.3em;
}

.user-bio {
    font-size: 0.9em;
    padding-bottom: 4px;
}